.todolist-header span{
    color:white;
    justify-self:  left;
}
.todolist-header button{
    background-color: #5868a4;
    height: 8vmin;
    width: 15vw;
    border: 0;
    border-radius: 2vw;
    color: white;
}
.todolist-header button:last-child{
    margin-right: 0;
}
.todolist-header{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.button-area{
    display: flex;
    flex-direction: row;
}
.button-area button{
    margin: 1vw  1vw 0;
}
#app{
    width: 90vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#root{
    background-color: #697abd;
    height: 100vh;
    width:100vw;
    display: flex;
    justify-content: center;
}
.todo-container{
    height: 5vh;
    background-color: #5868a4;
    border-radius: 1vh;
    display: flex;
    align-items: center;    
    width: 100%;
    margin:2px 0 2px 0;
}
.todo-container input{
    border:none;
    background-color: #ffffff00;
    color:white;
    width: 100%;
}
.todo-container input::placeholder{
    color:white;
}
.todo-container input:focus{
    border:0;
}
.todo-container svg{
    width: 2vh;
    height: 2vh;
    margin: 0 20px 0 auto;
}
.finished-ponit{
    height: 1vh;
    width: 1vh;
    border-radius: 1vh;
    margin: 1vh;
}
.finished-ponit.unfinished{
    border:2px solid #7a7a7c;
}
.finished-ponit.finished{
    background-color: #6172b4;
    border:2px solid  #6172b4;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
}
.add-point{
    height: 1vh;
    width: 1vh;
    border-radius: 1vh;
    margin: 1vh;
    border:2px solid white;
}
.label{
    margin: 10px 0 10px 0;
    height: 2vh;
    font-size: smaller;
    color:white;
    background-color: #5868a4;
    width:15vw;
    box-sizing: border-box;
    border:0 20px 0 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-bottom{
    margin-top: auto;
    margin-bottom:30px;
}
.todos-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: 0.3s;
}
.white-bg{
    background-color: white;
}
.todo-text.finished{
    color:#767577;
    text-decoration-line: line-through;
}